.outer-div {
	border: 2px solid black;
	/* height: 8%; */
	width: 90%;
}

.categories-container > div:hover {
	color: #9f78a6;
	text-decoration: underline;
}

.categories-container > div.selected {
	color: #b79dbc;
}

.carousel-control-next {
	margin-right: 10%;
}

.categories-container-scroll {
	overflow-x: auto;
}

.categories-container {
	display: flex;
}

.row-edit {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
