.act {
	color: #a164b293;
}

.impactify {
	height: 42px;
	display: flex;
	align-items: center;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.254));
	box-sizing: border-box;
	/* padding: 10px 0 0 0 0; */
}
.hand-icon {
	width: auto;

	margin: 0 !important;

	left: 10;
	max-height: 100%;
	object-fit: contain;
}
.impactify-parent {
	padding-left: 2%;
	position: relative;
	letter-spacing: normal;
	text-align: left;
	font-size: 30px;
	font-family: serif;
}
